Repository TTG-Club/ttg-club-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

.lintstagedrc.json:

{
  "*.{cjs,js,ts,jsx,tsx,vue}": [
    "eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix",
    "prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write"
  ],
  "*.{css,scss,html,vue}": [
    "stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix"
  ]
}

chore: fixes
  .eslintrc.cjs
  .gitignore
  .stylelintrc.js
  package-lock.json
  package.json
  src/assets/styles/variables/colors.scss
  src/features/dice-history/ui/DiceHistoryWindowContent.vue
  src/features/menu/NavPopover.vue
  src/features/youtube/components/YoutubeAddVideo.vue
  src/features/youtube/components/YoutubeEditVideo.vue
  src/pages/search/SearchModal.vue
  src/pages/tools/name-generator/NameGeneratorView.vue
  src/shared/config/theme-overrides/dark.ts
  src/shared/config/theme-overrides/light.ts
  src/shared/ui/kit/button/UiSocialButton.vue
  src/shared/ui/modals/AuthModal.vue
  src/shared/ui/modals/BaseModal.vue
  vite.config.ts
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

chore: fixes
  .github/workflows/lint.yml
  package.json
Due: none

chore: fixes
  .github/workflows/pr-check.yml
Due: none

chore: fixes
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/type-check.yml
Due: none

chore: fixes
  .github/workflows/lint.yml
  .github/workflows/type-check.yml
Due: none

chore: fixes
  .github/workflows/lint.yml
  .github/workflows/pr-check.yml
  .github/workflows/type-check.yml
Due: none

feat: update lightbox
  src/assets/styles/_dependencies.scss
  src/assets/styles/_print.scss
  src/pages/character/races/races-detail/RaceBody.vue
  src/pages/inventory/magic-items/magic-items-detail/MagicItemBody.vue
  src/pages/wiki/gods/gods-detail/GodBody.vue
  src/pages/workshop/bestiary/creature-detail/CreatureBody.vue
  src/shared/ui/kit/GalleryLightbox.vue
  src/shared/ui/kit/UiEasyLightbox.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

Revert "feat: update lightbox"
  src/assets/styles/_dependencies.scss
  src/assets/styles/_print.scss
  src/pages/character/races/races-detail/RaceBody.vue
  src/pages/inventory/magic-items/magic-items-detail/MagicItemBody.vue
  src/pages/wiki/gods/gods-detail/GodBody.vue
  src/pages/workshop/bestiary/creature-detail/CreatureBody.vue
  src/shared/ui/kit/GalleryLightbox.vue
  src/shared/ui/kit/UiEasyLightbox.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: update rules
  src/features/account/ChangePasswordView.vue
  src/features/account/LoginView.vue
  src/features/account/RegistrationView.vue
  src/shared/utils/validation-rules/authChecks.ts
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: update reg modal
  src/features/account/RegistrationView.vue
  src/shared/const/index.ts
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: update auth forms
  src/features/account/ChangePasswordView.vue
  src/features/account/LoginView.vue
  src/features/account/RegistrationView.vue
  src/shared/utils/validation-rules/authChecks.ts
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: update auth forms
  src/features/account/ChangePasswordView.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: update colors
  src/assets/styles/base.scss
  src/core/App.vue
  src/shared/config/theme-overrides/dark.ts
  src/shared/config/theme-overrides/light.ts
  src/shared/ui/icons/svg-icon/SvgIcon.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: svg type
  src/shared/ui/icons/svg-icon/SvgIcon.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: workflow
  .github/workflows/build.yml
  .github/workflows/code-check.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  .github/workflows/type-check.yml
  package.json
Due: none

fix: modal shadow
  src/assets/styles/_dependencies.scss
  src/features/youtube/components/YoutubeAddVideo.vue
  src/features/youtube/components/YoutubeEditVideo.vue
  src/pages/search/SearchModal.vue
  src/shared/ui/modals/AuthModal.vue
  src/shared/ui/modals/BaseModal.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: social button icon placement
  src/shared/ui/kit/UiSocialButton.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: dice-roller tooltip formula color
  src/pages/workshop/bestiary/creature-detail/CreatureBody.vue
  src/shared/ui/DiceRoller.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: добавление банера на главну для перехода в на новую редакцию ДнД
  src/pages/index-page/IndexView.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: картинка
  public/img/banner-2024.webp
Due: none

hotfix: неправильный протокол ссылки на новый сайт
  src/pages/index-page/IndexView.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: удалил ссылку на телеграм бота
  src/pages/index-page/IndexView.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Авторизация и аутентификация в внешнем сервисе
  src/features/account/ChangePasswordView.vue
  src/pages/index.ts
  src/pages/user/index.ts
  src/pages/user/reset-password/ResetPasswordView.vue
  src/pages/user/reset-password/index.ts
  src/pages/user/verify-email/VerifyEmailView.vue
  src/pages/user/verify-email/index.ts
  src/shared/api/httpClient.ts
  src/shared/composable/useMetrics.ts
  src/shared/stores/UserStore.ts
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: Авторизация и аутентификация во внешнем сервисе
  src/pages/user/verify-email/VerifyEmailView.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Смена пароля
  src/shared/stores/UserStore.ts
  src/shared/utils/getApiUrl.ts
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write

feat: Добавление отображения пользователей онлайн
  package-lock.json
  src/core/App.vue
  src/features/online-counter/useOnlineAdventurersCounter.ts
  src/pages/index-page/IndexView.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Добавление отображения пользователей онлайн
  .env
  .env.production
  global.d.ts
  src/features/online-counter/useOnlineAdventurersCounter.ts
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write

fix: Добавление отображения пользователей онлайн
  src/features/online-counter/useOnlineAdventurersCounter.ts
  src/pages/index-page/IndexView.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

fix: Добавление отображения пользователей онлайн
  src/assets/styles/main.scss
  src/pages/index-page/IndexView.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: рефакторинг сетки главной страницы и обновление ссылок на соцсети
  src/assets/icons/svg/telegram.svg
  src/assets/styles/base.scss
  src/assets/styles/main.scss
  src/assets/styles/variables/colors.scss
  src/features/menu/NavBar.vue
  src/features/menu/NavMenu.vue
  src/pages/index-page/IndexView.vue
  src/shared/ui/kit/UiSocialButton.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat: реализована отправка баг-репортов
  src/assets/icons/svg/arrow-back-up.svg
  src/assets/icons/svg/bug.svg
  src/assets/icons/svg/link.svg
  src/assets/icons/svg/photo-plus.svg
  src/assets/icons/svg/text-scan.svg
  src/assets/icons/svg/trash.svg
  src/assets/icons/svg/user-check.svg
  src/assets/icons/svg/user-question.svg
  src/core/App.vue
  src/features/bug-report/composables/useBugReport.ts
  src/features/bug-report/index.ts
  src/features/bug-report/model/constants.ts
  src/features/bug-report/model/index.ts
  src/features/bug-report/model/types.ts
  src/features/bug-report/ui/BugReportCanvas.vue
  src/features/bug-report/ui/BugReportColorPicker.vue
  src/features/bug-report/ui/BugReportModal.vue
  src/features/bug-report/ui/SelectionReportButton.vue
  src/features/menu/NavBar.vue
  src/shared/config/theme-overrides/dark.ts
  src/shared/ui/icons/svg-icon/SvgIcon.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

build: отключена проверка линтерами при сборке в vite-plugin-checker для предотвращения ошибки meow в CI
  vite.config.ts
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write

build: плагин vite-plugin-checker теперь запускается только в dev-режиме, чтобы избежать ошибки meow при сборке
  vite.config.ts
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write

feat(home): добавлен баннер VTTG, реорганизована сетка баннеров на главной
  public/img/vttg-banner.webp
  src/assets/icons/svg/heart.svg
  src/pages/index-page/IndexView.vue
  src/pages/index-page/VttgCampaignBanner.vue
  vite.config.ts
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix

feat(home): добавлен баннер VTTG, реорганизована сетка баннеров на главной
  public/img/vttg-banner.webp
  src/assets/icons/svg/heart.svg
  src/pages/index-page/IndexView.vue
  src/pages/index-page/VttgCampaignBanner.vue
Due: eslint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix, prettier --cache --cache-strategy content --ignore-path .eslintignore --log-level error --write, stylelint --cache --cache-strategy content --ignore-path .eslintignore --quiet --fix
